<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <style>
        div {
            font-size: 50px;
        }
    </style>
</head>
<body>

    <div class="container-fluid">
        <div ng-controller="MainController">

            <div class="col-sm-2" >
                <h2 >People Search</h2>
                <input class="form-control col-sm-2" type="text" ng-model="filterCriteria" placeholer="filter"/>
            </div>
            <br></br>

            <div ng-repeat="person in peopleList | filter : filterCriteria">
                <div class="col-sm-2 person">{{ person }}
                </div>
            </div>
        </div>
    </div>
<!--<script type="text/javascript" src="../bundle.js" charset="utf-8"></script>-->
</body>
<script src="./app.js">

</script>
</html>